*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    width: 100%;
}
.box img{
    height: 200px;
    border-radius: 20px;
    width: 350px;
}
.box1 img{
    height: 200px;
    border-radius: 20px;
    width: 350px;
}
.box2 img{
    height: 200px;
    border-radius: 20px;
    width: 350px;
}
.box3 img{
    height: 200px;
    border-radius: 20px;
    width: 350px;
}
.box4 img{
    height: 230px;
    border-radius: 20px;
    width: 350px;
}
.box5 img{
    height: 230px;
    border-radius: 20px;
    width: 350px;
}
.box6 img{
    height: 230px;
    border-radius: 20px;
    width: 350px;
}
.box7 img{
    height: 230px;
    border-radius: 20px;
    width: 350px;
}
.box8 img{
    height: 230px;
    border-radius: 20px;
    width: 350px;
}